<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
      </tr>
    </thead>
    <tbody>
      <% @blogs.each do |blog| %>
      <tr>
        <th scope="row"><%= blog.id %></th>
        <td><%= blog.title %></td>
        <td><%= blog.content %></td>
      </tr>
      <% end %>
      </tbody>
  </table>
</div>