<div class="home_hero">
  <div class="container text-center  text-white">
    <br><br>
    <h1>Publish your passions, your way</h1>
    <h4>Create a unique and beautiful blog. It’s easy and free.</h4>
    <button class="btn btn-warning mt-5 text-white">CREATE YOUR BLOG</button>
  </div>
  <div class="container mt-5 text-center col d-flex justify-content-center">
    <div class="my_blog">
      <div id="main_card" class="card rounded" >
        <%= image_tag 'food_one.jpg', alt: 'icon', :class=>"card-image-top" %>
        <div class="card-body">
          <h5 class="card-title">My Blog</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="hero_two ">
    <div class= "container text-white py-5"> <br><br>
      <div class="row intro_two">
        <div class="col-7"><h2>Choose the perfect design</h2>
          <h4>Create a beautiful blog that fits your style. Choose from a selection of easy-to-use templates – all with flexible layouts and hundreds of background images – or design something new.</h4>
        </div>
        <div class="col-4">
          <%= image_tag 'blog_two.jpg', alt: 'icon', :class=>"img-responsive" %>
        </div>
      </div>
    </div>
  </div>
  <div class="hero_three ">
    <div class= "container text-white py-5"> <br><br>
      <div class="row intro_two">
        <div class="col-7"><h2>Get a free domain</h2>
          <h4>Give your blog the perfect home. Get a free blogspot.com domain or buy a custom domain with just a few clicks.</h4>
        </div>
      </div>
    </div>
  </div>
</div>